<p>Your Potato is now encrypted and will self-destruct  at <%= Time.at(@end_of_life) %>.</p>
<p>Send this information to the recipient:</p>
<hr>
<div class="jumbotron" id="msg">
  <div class="row">
    <p class="col-6">There is a Hot Potato for you at:</p>
    <p class="col-6"><b><%= @base_url %></b></p>
  </div>
  <div class="row">
    <p class="col-6">It's identified by unique id:</p>
    <p class="col-6"><b><%= @encrypted %></b></p>
  </div>
  <div class="row">
    <p class="col-6">To read it you need to submit this password:</p>
    <p class="col-6"><b><%= @secret %></b></p>
  </div>
  <br>
  <p>Here is a direct link to your Hot Potato: <%= @base_url %>/get?potato=<%= @encrypted %><p>
  <p>Submit password to get it before: <i><%= Time.at(@end_of_life) %></i> or it will self-destruct.</p>
  <br>
  <p><b>Note:</b> It works only once. When read, it's deleted.</p>
</div>
