<p>Thanks for posting</p>
<p>Your Potato is now encrypted.</p>
<p>It can be retrieved using <i>Secret potato id </i>: <pre><%= @encrypted %></pre></p>
<p>or at this url: href="http://localhost:9292/get?potato=<%= @encrypted %>"</p>
<a href="/get?potato=<%= @encrypted %>"><%= @encrypted %></a>
<p>It is encrypted using the password: <pre><%= @secret %></pre></p>
<p>TTL was</p>
<p><%= @ttl %><p>
<hr>
<div class="jumbotron" id="msg">
    <p><%= @base_url %>/get?potato=<%= @encrypted %><p>
    <p><%= @secret %></p>
</div>
